#createSnip {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 5px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label, input[type=text]{
    width:150px; 
    float:  left; 
}

label + input[type=text]{
    clear: left; 
}

input [type=button]{}

